{% extends "base.html" %} {% block content %}

<h2>Check Holiday By Year</h2>
<div>
    <form id="year" action=/post_submit name="myform" method="post">
        <label for="yearinput" class="yearlabel">
            Year:
        </label>
        <input type="number" name="yearinput" min="2007" step="1"><br>
        <button type="submit" class="btn btn-primary btn-lg " id="btn-get">Get!</button>
    </form>
    
    <h3 id="result">
        <span> </span>
    </h3>

</div>
<script type="text/javascript">
     $(function() {
       var frm = $(document.myform);
       var dat = JSON.stringify(frm.serializeArray());

       alert("I am about to POST this:\n\n" + dat);

       $.post(
         frm.attr("action"),
         dat,
         function(data) {
           alert("Response: " + data);
         }
       );
     });
</script>
{% endblock %}